/* Main */
body {
    background-color: rgb(30, 30, 30);
}
.container {
    position: absolute;
    min-width: 500px;
    max-width: 100vw;
    max-height: calc(100vh - 130px);
    width: fit-content;
    height: fit-content;
    top: 50;
    left: 50%;
    transform: translateX(-50%);
}
#vid {
    max-width: 100%;
    max-height: calc(100vh - 130px);
    visibility: hidden;
}
.visible {
    visibility: visible !important;
}

/* Scrubber Frames */
#frames {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    overflow-y: scroll;
    height: -webkit-fill-available;
    visibility: hidden;
    background-color: black;
}
#frames::-webkit-scrollbar {
    display: none;
}
#frames > img {
    border: solid transparent 6px;
    user-select: none;
    width: calc(100% / 3 - 12px);
    height: calc(100% / 3 - 12px);
}
#frames > img:hover {
    border: solid gold 6px !important;
}

/* Video Controls */
#controls {
    display: flex;
    justify-content: space-evenly;
}
#controls * {
    padding: 5px;
    border-radius: 5px;
}
input {
    background-color: white;
}
span {
    padding: 0px !important;
    background-color: white;
}
#playbackSpeed {
    padding: 0px;
    position: relative;
    top: 5px;
}
label {
    position: relative;
    top: 2px;
}

/* Hidden */
#canvas {
    display: none;
}