/* Main */
:root {
    --blue: hsl(210, 70%, 44%);
    --green: hsl(119, 51%, 44%);
}
body {
    background-color: hsl(0 0% 5% / 1);
    min-width: 550px;
}
body.light {
    background-color: hsl(0 0% 95% / 1);;
}
button:disabled {
    color: #c0c0c0 !important;
    background-color: #ffffff !important;
}
progress {
    width: calc(100% - 16px);
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    -webkit-appearance: none;
    appearance: none;
    padding-left: 50px;
    padding-right: 50px;

    visibility: hidden;

}
progress::-webkit-progress-bar {
    background-color: hsl(0, 0%, 93%);
    border-radius: 10px;
    overflow: hidden;
}
body.light progress::-webkit-progress-bar {
    background-color: hsl(0, 0%, 7%);
}
progress::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25));
    background-color: var(--blue);
    border-radius: 10px;
    background-size: 95px 53px, 100% 100%;

}
.container {
    display: flex;
    justify-content: center;
    position: absolute;
    min-width: 500px;
    max-width: 100vw;
    max-height: calc(100vh - 56px);
    width: fit-content;
    height: fit-content;
    top: 56;
    left: 50%;
    transform: translateX(-50%);
}
#vid {
    max-width: 100%;
    max-height: calc(100vh - 56px);
    visibility: hidden;
}
.visible {
    visibility: visible !important;
}

/* Scrubber Frames */
#frames {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    overflow-y: scroll;
    height: -webkit-fill-available;
    visibility: hidden;
    background-color: black;
}
#frames::-webkit-scrollbar {
    display: none;
}
#frames > img {
    border: solid transparent 6px;
    user-select: none;
    width: calc(100% / 3 - 12px);
    height: calc(100% / 3 - 12px);
}
#frames > img:hover {
    border: solid gold 6px !important;
}
#frames-progress {
    position: fixed;
    bottom: 0px;
    height: 2px;
    background-color: white;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-radius: 5px;
}

/* Video Controls */
#controls {
    display: flex;
    white-space: nowrap;
    max-width: fit-content;
    margin: auto;

    padding: 5px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 5px;
    margin-top: 4px;
}
body.light #controls {
    background-color: hsl(0, 0%, 10%);
}
#controls * {
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    background-color: var(--blue);
    color: #fff;
    border: none;
    min-width: 31.33px;
}
#controls button.on {
    background-color: var(--green);
}
#controls button:hover:not([disabled]), #controls input:hover {
    background-color: hsl(210, 70%, 30%) !important;
}
#controls button.on:hover:not([disabled]) {
    background-color: hsl(119, 51%, 30%) !important;
}
span {
    padding: 0px !important;
    background-color: white;
    min-width: auto !important;
}
#playbackSpeed {
    padding: 0px;
    position: relative;
}
label {
    position: relative;
    top: -3px;
}
#toggleFrames {
    background-image: url(./toggleframes.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
#toggleFrames:disabled {
    background-image: url(./toggleframes-disabled.svg);
}
#downloadFrame {
    background-image: url(./download.svg);
    background-size: 18px;  
    background-repeat: no-repeat;
    background-position: center;
}
#downloadFrame:disabled {
    background-image: url(./download-disabled.svg);
}
#toggleControls {
    background-image: url(./settings.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: right 5px bottom 3px;
}
#toggleControls:disabled {
    background-image: url(./settings-disabled.svg);
}
.tooltip {
    position: relative;
} 
.tooltip .tooltiptext {
    display: none;
    width: 150px;
    background-color: black !important;
    text-align: center;
    border-radius: 6px !important;
    padding: 5px 0 !important;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -75px !important;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    display: block;
}
/* Hidden */
#canvas {
    display: none;
}